{% extends 'base.html' %}

{% block body_block %}
{% load staticfiles %}

<div class='container'>
    <div class='row'>
        <h1 class='text-center title-text'>Mechanize.</h1>
    </div>
    <div class='row'>
        <div class='col-sm-3 text-center'>
            <div class='row'>
                <div class='col-sm-10 text-center'>
                    <h3>Customizable</h3>
                    <i class='fa fa-cog fa-5x'></i>

                    <p>Tailor your scripts and questions to your mission.</p>
                </div>
            </div>
        </div>
        <div class='col-sm-3 text-center'>
            <div class='row'>
                <div class='col-sm-10 text-center'>
                    <h3>Simple</h3>
                    <i class='fa fa-user fa-5x'></i>

                    <p>Easily automate manual paper processes to increase engagement.</p>
                </div>
            </div>
        </div>
        <div class='col-sm-3 text-center'>
            <div class='row'>
                <div class='col-sm-10 text-center'>
                    <h3>Mobile</h3>
                    <i class='fa fa-mobile fa-5x'></i>

                    <p>
                        Use mobile features like text messaging that work in busy places and on all devices
                    </p>
                </div>
            </div>
        </div>
        <div class='col-sm-3 text-center'>
            <div class='row'>
                <div class='col-sm-10 text-center'>
                    <h3>Connectable</h3>
                    <a>
                        <img src="/static/mechdata/osdi-grey.png" class="osdi-logo"/>
                    </a>

                    <p>
                        Easy integration with other systems using OSDI.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class='row'></div>
</div>
<br>
<!-- /container -->
{% endblock %}
